
[sssd]
domains = {{ ADDomain|lower }}
config_file_version = 2
services = nss, pam, ssh

[domain/{{ ADDomain|lower }}]
default_shell = /bin/bash
krb5_store_password_if_offline = True
cache_credentials = True
krb5_realm = {{ ADDomain|upper }}
realmd_tags = manages-system joined-with-adcli
id_provider = ad
fallback_homedir = /home/%u@%d
ad_domain = {{ ADDomain|lower }}
use_fully_qualified_names = False
ldap_id_mapping = True
access_provider = simple
ad_gpo_access_control = disabled
ad_gpo_ignore_unreadable = True
override_homedir = /home/%u
#debug_level = 3
krb5_canonicalize = false
#dns_discovery_domain = UMC._sites.{{ ADDomain|lower }}
dns_discovery_domain = {{ ADDomain|lower }}
ignore_group_members = True
simple_allow_groups = {{ ADAdminGroup }}
ldap_user_extra_attrs = altSecurityIdentities
ldap_user_ssh_public_key = altSecurityIdentities
